h1 {
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

th {
    color: black;
    font-weight: bold;
    background-color: darkgray;
    border: 1px solid black;
}

.borda-linha {
    border: 2px solid black; /* Define a borda com 2px de largura e cor preta */
}


label {
    color: black;
    font-weight: bold;
}

.fundo {
    margin: 81px;
    background-color: lightgray;
    color: black;
    border: 1px solid black;

}
